<div class="container">
  <div class="jumbotron">
    <h1>Welcome to {{title}}</h1>
    <h5>Try to sort these awesome books!</h5>    
    <div class="row">
      <div class="col-md-2">
        <div class="radio" *ngFor="let index = index; let gender of authorGenders">
          <label>
            <input type="radio" value="{{gender}}" (change)="filterBy($event.target.value, $event.target.name)" [checked]="index === 0" name="genderGroup">
            {{gender}}
          </label>
        </div>
      </div>

      <div class="col-md-2">
        <div class="radio" *ngFor="let index = index; let genre of genres">
          <label>
            <input type="radio" value="{{genre}}" (change)="filterBy($event.target.value, $event.target.name)" [checked]="index === 0" name="genreGroup">
            {{genre}}
          </label>
        </div>
      </div>

      <div class="col-md-2">
        <div class="radio">
          <label>
            <input type="radio" value="bookName" (change)="sortBy($event.target.value)" name="sortGroup">
            Book name
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" value="authorName" (change)="sortBy($event.target.value)" name="sortGroup">
            Author name
          </label>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" [disabled]="!prevLimit" (click)="prev()">Previous {{bookPerPage}} books</button>
  <button type="button" class="btn btn-primary" [disabled]="!nextLimit" (click)="next()">Next {{bookPerPage}} books</button>
  
  <hr>
  <span class="number-count">{{visibleBooksCount}} of {{ALLBOOKS}}</span>
  <hr>

  <table class="table table-hover">
    <tr>
      <th>Book Name</th>
      <th>Author Name</th>
      <th>Genre</th>
      <th>Date</th>
      <th>Author Gender</th>
    </tr>
    <tr *ngFor="let book of chunkBooks | gender:checkedGender | genre:checkedGenre">
      <td>{{book.bookName}}</td>
      <td>{{book.authorName}}</td>
      <td>{{book.genre}}</td>
      <td>{{book.date.format('dddd Do MMMM YYYY')}} <span class="indicator friday" *ngIf="isLastFriday(book.date)">Last Friday of Month</span><span class="indicator halloween" *ngIf="onHalloween(book.date)">Halloween</span></td>
      <td>{{book.authorGender}}</td>
    </tr>
  </table>
<div>